.button_pill {
    width: 220px;
    height: 42px;
    background: #F8971C;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    span {
        font-weight: bold;
        font-size: 18px;
        line-height: 38px;
        text-align: center;
        color: #FFFFFF;
    }
}

.button,
.button_outline {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    width: 145px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: 6px;
}

.button {
    background: linear-gradient(90deg, #3797DD 0%, #72C3FF 106.9%);
    color: #fff;
    &:hover {
        background: linear-gradient(90deg, #3084c0 0%, #67b0e7 106.9%);
    }
}

.button_outline {
    color: #3797DD;
    border: 2px solid #3797DD;
    &:hover {
        background: linear-gradient(90deg, #3797DD 0%, #72C3FF 106.9%);
        color: #fff;
    }
}