.d_flex {
    display: flex;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}